.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.logo{
  width: 24px;
  height: 24px;
  // 限制高度之後，a標籤居然會跟著畫面寬度位移？
  @include mobile{
    width: 174px;
    height: 42px;
  }
}
.logo_link{
  @include hide-text;
  display: inline-block;
  background-image: url(../images/logo.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: left;
  @include mobile {
    height: 42px;
    width: 174px;
  }
}

.menu{
  position: absolute;
  top: 74px;
  max-height: 0px;
  overflow: hidden;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  @include mobile{
    position: relative;
    top: 0;
    max-height: 74px;
    transition: max-height 0s;
  }
  a {
   display: inline-block;
   padding-top: 12px;
   padding-bottom: 12px;
   @include mobile{
     padding-top: 0;
     padding-bottom: 0;
   }
  }
}
.menu-icon{
  width: 24px;
  height: 24px;
}

.show-menu .menu{
 max-height: 174px;
}

footer{
  color: #909090;
}
// 文字漸層色
.gradient{
  background: linear-gradient(to bottom, #09ACF5, #62DB54);
  background-clip: text;
  color: transparent;
}
.banner{
  background-image: url(../images/bg_home_mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mobile {
    background-image: url(../images/bg_home.jpg);
  }
  .mw-50{
    margin: 0 auto;
    @include mobile {

      max-width: 650px;
    }
  }
}
.banner h2 {
  font-size: 24px;
  @include mobile {
    font-size: 48px;
  }
}
.banner small{
  @include mobile {
    font-size: 18px;
  }
}
.banner_title{
  position: relative;
}

.deco-square{
  position: absolute;
  height: 10px;
  width: 10px;
  background: white;
}
.deco-square-1{
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.deco-square-2{
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.deco-square-3{
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.deco-square-4{
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.handbyhand .material-symbols-outlined{
  background: linear-gradient(to bottom, #09ACF5, #62DB54);
  @include desktop{
    // 響應事後藥整段重寫，不然會被覆蓋clip的部分
    background: grey;
    background-clip: text;
    color: transparent;
  }
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-weight: bold;
  font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
}
.handbyhand .location {
  background: linear-gradient(to bottom, #09ACF5, #62DB54);
  background-clip: text;
  color: transparent;
}
.handbyhand .personal-location{
  border:1px solid $success;
  border-radius: 12px;
}

.handbyhand h2 .material-symbols-outlined{
  font-size: 100px;
  line-height: 10px;
}

.deco-line{
  width: 50px;
  display: inline-block;
}

.handbyhand .over-100, .handbyhand .high-efficient{
  background: $tertiary;
  color: white;
  @include desktop{
    background:$primary;
    color: grey;
  }
}

.class-process{

   .classStep{
     max-width: 336px;
     margin: 0 auto;
     @include mobile {
       max-width: 306px;
     }
   }
  .classStep span {
    position: absolute;
    top: 0;
    transform: translate(0,-50%);
    display: inline-block;
    width: 62px;
    height: 56px;
    z-index: 99;
    background: $secondary;
  }
}

.recommend {
   .teacher{
     max-width: 336px;
     margin-right: auto;
     margin-left: auto;
     &:hover{
       border: 1px solid  #62DB54;
     }
   }
  .btn{
    background: linear-gradient(to right, #09ACF5, #62DB54);
    border-radius: 12px;
    width: 172px;
    display: block;
    &:hover{
      cursor: pointer;
    }
  }
}

.effects{
  .effect{
    background-color: rgba(28, 28, 28, .9);
    background-blend-mode: multiply;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .deco-line{
      @include desktop{
        border-color: white !important;
      }
    }
    span{
      @include desktop{
        color: $gray-500 !important;
      }
    }
     p{
       @include desktop{
        color: $gray-600 !important;
      }
     }
    @include desktop{
      padding-top: 216px !important;
      padding-bottom: 216px !important;
      &:hover{
        cursor: pointer;
        background-color: rgba(28, 28, 28, 0);
        span {
         color: $success !important;
        }
        p{
          color: white !important;
        }
        .deco-line{
          border-color: $success !important;
        }
      }
    }
  }
  .effect-1{
    background-image: url(../images/info01.jpg);
  }
  .effect-2{
    background-image: url(../images/info02.jpg);
  }
  .effect-3{
    background-image: url(../images/info03.jpg);
  }
  .effect-4{
    background-image: url(../images/info04.jpg);
  }
}


.article{
  .btn{
    width: 47px;
  }
}

.superPower{
  background-image: url(../images/bg_share.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .swiper {
    width: 100%;
    max-height: 429px;
    position: relative;
    .swiper-card{

      &-img{
        margin-bottom: 45px;
        position: relative;
        @include desktop{
          width: 57.25%;
        }
      }
      &-img::before {
      content: '';
      display: block;
      position: absolute;
      top: .25rem;
      left: -.25rem;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      border: 1px solid $gray-600;
      z-index: -1;
      @include desktop{
        top: 1rem;
        left: -1rem;
       }
      }

    .swiper-share{
      padding: 32px;
      position: relative;
      border-bottom-left-radius: 0% !important;
      @include desktop {
        position: absolute;
        width: 47%;
        bottom: 0;
        right: 0;

      }
      img{
        width: 80px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 32px;
        transform: translate(0,-40%);
        @include desktop{
          width: 100px;
           margin-left:-80px; 
           margin-bottom:-48px
        }
      } 
    }
   }
  }
}
