.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.logo{
  width: 24px;
  height: 24px;
  // 限制高度之後，a標籤居然會跟著畫面寬度位移？
  @include mobile{
    width: 174px;
    height: 42px;
  }
}
.logo_link{
  @include hide-text;
  display: inline-block;
  background-image: url(../images/logo.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: left;
  @include mobile {
    height: 42px;
    width: 174px;
  }
}

.menu{
  position: absolute;
  top: 74px;
  max-height: 0px;
  overflow: hidden;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  @include mobile{
    position: relative;
    top: 0;
    max-height: 74px;
    transition: max-height 0s;
  }
  a {
   display: inline-block;
   padding-top: 12px;
   padding-bottom: 12px;
   @include mobile{
     padding-top: 0;
     padding-bottom: 0;
   }
  }
}
.menu-icon{
  width: 24px;
  height: 24px;
}

.show-menu .menu{
 max-height: 174px;
}

footer{
  color: #909090;
}
// 文字漸層色
.gradient{
  background: linear-gradient(to bottom, #09ACF5, #62DB54);
  background-clip: text;
  color: transparent;
}
.banner{
  background-image: url(../images/bg_home_mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mobile {
    background-image: url(../images/bg_home.jpg);
  }
  .mw-50{
    margin: 0 auto;
    @include mobile {

      max-width: 650px;
    }
  }
}
.banner h2 {
  font-size: 24px;
  @include mobile {
    font-size: 48px;
  }
}
.banner small{
  @include mobile {
    font-size: 18px;
  }
}
.banner_title{
  position: relative;
}

.deco-square{
  position: absolute;
  height: 10px;
  width: 10px;
  background: white;
}
.deco-square-1{
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.deco-square-2{
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.deco-square-3{
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.deco-square-4{
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}