.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.logo_link{
  @include hide-text;
  display: inline-block;
  background-image: url(../images/logo.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: left;
  @include desktop {
    height: 42px;
    width: 174px;
  }
}

.menu{
  position: absolute;
  top: 94px;
  max-height: 0px;
  overflow: hidden;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  // padding-top: 12px;
  // padding-bottom: 12px;
  @include desktop{
    position: relative;
    top: 0;
    max-height: 94px;
    transition: max-height 0s;
  }
  a {
   display: inline-block;
   padding-top: 12px;
   padding-bottom: 12px;
   @include desktop{
     padding-top: 0;
     padding-bottom: 0;
   }
  }
}

.show-menu .menu{
 max-height: 174px;
}
