

.timeline {
  //讓偽元素可以定位
  position: relative;
  &::after {
    //偽元素定位
    position: absolute;
    //偽元素基本設定
    content: '';
    //進度條位置及色彩
    top: 9px;
    left: 0;  
    right: 0;
    height: 2px;
    background-color: #C1C1C1;
  }
  &::before {
    //偽元素定位
    position: absolute;
    //偽元素基本設定
    content: '';
    //進度條位置及色彩
    top: 9px;
    left: 0;  
    right: 50%;
    height: 2px;
    z-index: 2;
    background-color:$success;
  }


  &-pointer {
    //讓偽元素可以定位
    position: relative;
    color: #C1C1C1;
    p {
      padding-top: 24px;
      margin-bottom: 0;
      line-height: 1.5;
    }
    &::before {
      position: absolute;
      content: '';
      //讓偽元素定位在每一個col的中間
      left: 50%;
      transform: translateX(-50%);
      //偽元素的外觀設定
      width: 20px;
      height: 20px;
      border: 1px solid #C1C1C1;
      border-radius: 50%;
      background-color: #2D2D2D;
      //讓偽元素水平置中
      //這裡看起來像保險？
      display: flex;
      align-items: center;
      justify-content: center;
      //偽元素內的文字大小（content)
      font-size: 12px;
      z-index: 1;
    }
    &.step-1::before {
      content: '1';
    }
    &.step-2::before {
      content: '2';
    }
    &.step-3::before {
      content: '3';
    }
    &.active {
      color: #62DB54;
      &::before {
        color: #FFFFFF;  
        background-color: #62DB54;
        border-color: #62DB54;
      }
    }
  }
}



.class-content{
  @include desktop{
    position: absolute;
    top: 50%;
    width: 33.333%;
    left: 72px;
    transform: translate(0, -50%);
  }
}
.enrollment {
  .enrollments{
    @include desktop{
      padding-left: 114px !important;
    }
  }
  .pay-ways{
    gap: 8px;
  }
  .pay-way{
    width: 140px;
    &:hover {
      color: $success ;
      border-color: $success !important;
      cursor: pointer;
    }
  }
  form {
    label{
      width: fit-content;
      display: block;
      margin-right: auto;
      color: #C1C1C1;
      margin-bottom: 8px;
      @include desktop{
        margin-bottom: 6px;
      }
    }
    input{
      border:1px solid white !important;
      background-color: $secondary;
    }
    select{
      background-color: $secondary;
      color: white;
      border:1px solid white !important;
    }
    .datepicker-header, .datepicker-main{
      color:black !important;
    }

  }
}
.pay-button{
  width: 100%;
  background:linear-gradient(to right, #09ACF5, #62DB54) ;
  @include desktop{
    width: fit-content;
  }
}

.material-icons-outlined{
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}